<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'allcss.CSS')}}" />
<head>
<title>Suicide Predicion Website</title>

    <style>
       a:link {
        color: white;
      }
      /* visited link */
      a:visited {
        color: white;
      }
      /* mouse over link */
      a:hover {
        color: white;
      }
      /* selected link */
      a:active {
        color: white;
      }

      .buttonbar{
        
	margin: 0%;
	padding-left: 550px;
}
    </style>
  
</head>

<body class="mainbody" style="background-image: url(static/3.jpg);">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data1 = google.visualization.arrayToDataTable([
          ['Distribution', 'Suicide'],
          ['Female',    {{female_predicted_count}}],
          ['Male',      {{male_predicted_count}}],
         
        ]);

        var data2 = google.visualization.arrayToDataTable([
          ['Distribution', 'Suicide'],
          ['0-14',     {{age014_predicted_count}}],
          ['15-29',    {{age1529_predicted_count}}],
          ['30-44',      {{age3044_predicted_count}}],
          ['45-59',      {{age4559_predicted_count}}],
          ['60+',      {{age60_predicted_count}}],
        ]);

        var option1 = {
          title: 'Gender wise Prediction',
          is3D: true,
        };

        var option2 = {
          title: 'Age group wise Prediction',
          is3D: true,
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('gender_piechart'));
        chart1.draw(data1, option1);

        var chart2 = new google.visualization.PieChart(document.getElementById('age_piechart'));
        chart2.draw(data2, option2);
      }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawAccuracy);

      function drawAccuracy() {

        var data3 = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Accuracy', {{accuracy}}],
        ]);

        var option3 = {
          width: 350, height: 350,
             yellowFrom:40, yellowTo: 75,
            redFrom:0, redTo: 40,
             greenFrom:75, greenTo: 100,
          
          minorTicks: 20
        };

        var chart3 = new google.visualization.Gauge(document.getElementById('accuracy'));

        chart3.draw(data3, option3);

        setInterval(function() {
          data3.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart3.draw(dat3, option3);
        }, 13000);
       
      }
    </script>


    
    
    <div class="content">
        
        <section>
            <div class="section3" id="home">
                <div class="center" style="padding-left: 0px; padding-top: 50px; ">
                    <div style="text-align: center; padding-left: 130px; padding-top: 50px;">
                      <h1 class='mainheader' style="width: 1200px; font-size: 60px;">Machine learning prediction model for predicting future risk of suicide</h1>
                    
                    </div>
                    
                    
                    <div style="display: flex; padding-left: 120px; padding-top: 50px">
  <div >
                    <h1 class='secondheader' style="font-size: 60px;">Total Prediected Count of Suicide (India)</h1>
    <h2 class='mainheader' style="font-size: 70px;">{{predicted_count}}</h></div>
      <div>
<h1 style="color: white; font-size: 25px;font-weight: bold;text-align: center;">Prediction model Accuracy</h1>
       <div id="accuracy" style="width: 350px; height: 350px; padding-top: 15px"></div>
       </div>
       
    </div>
  
    <h1 class='secondheader' style="font-size: 60px; padding-top: 20px">Gender wise Prediction</h1>
   
    <div style="display: flex; padding-left: 100px; padding-top: 20px;" >
    <div id="gender_piechart" style="width: 900px; height: 500px;  "></div>
<div style="width:300px; padding-left: 100px; padding-top: 180px;">
<table style="width:300px" border="1">
  <tr>
    <th style="color: red; font-size: 25px;font-weight: bold;text-align: center;">Category</th>
    <th style="color: red; font-size: 25px;font-weight: bold;text-align: center;">Count</th> 
 
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">Female</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{female_predicted_count}}</td>
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">Male</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{male_predicted_count}}</td>
  </tr>
  
</table></div>

    </div>

    <h1 class='secondheader' style="font-size: 60px; padding-top: 20px">Age group wise Prediction</h1>
    
    <div style="display: flex; padding-left: 100px; padding-top: 20px; ">
    
    <div style=" padding-top: 150px;"> 
    <table style="width:300px" border="1">
  <tr>
    <th style="color: red; font-size: 25px;font-weight: bold;text-align: center;">Category</th>
    <th style="color: red; font-size: 25px;font-weight: bold;text-align: center;">Count</th> 
 
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">0-14</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{age014_predicted_count}}</td>
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">15-29</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{age1529_predicted_count}}</td>
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">30-44</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{age3044_predicted_count}}</td>
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">45-59</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{age4559_predicted_count}}</td>
  </tr>
  <tr>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">60+</td>
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">{{age60_predicted_count}}</td>
  </tr>
  
</table></div>
<div id="age_piechart" style="width: 900px; height: 500px; padding-left: 100px;"></div>
   </div>
   <br> <br> <br> <br> <br>

                </div>
            </div>
        
        </section>



</body>

</html>
