<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'allcss.CSS')}}" />
<head>
<title>Suicide Predicion Website</title>
    <style>
       a:link {
        color: white;
      }
      /* visited link */
      a:visited {
        color: white;
      }
      /* mouse over link */
      a:hover {
        color: white;
      }
      /* selected link */
      a:active {
        color: white;
      }

      .buttonbar{
        
	margin: 0%;
	padding-left: 550px;
}
    </style>
  
</head>

<body class="mainbody" style="background-image: url(static/3.jpg);">

    <div class="content">
        
        <section>
            <div class="section3" id="home">
                <div class="center" style="padding-left: 0px; padding-top: 50px; ">
                    <div style="text-align: center; padding-left: 140px; padding-top: 50px;">
                      <h1 class='mainheader' style="width: 1200px; font-size: 60px;">Machine learning prediction model for predicting future risk of suicide</h1>
                    
                    </div>
                    <h1 class='secondheader' style="font-size: 50px; width: 900px; padding-left: 300px;">Past years suicide Staticstics</h1>
                    <h1 class='secondheader' style="font-size: 60px; width: 1200px; padding-left: 140px; padding-top: 10px;">Total suicide count from (2001 - 2012)</h1>
    <h2 class='mainheader' style="font-size: 80px; width: 1200px; padding-left: 140px; padding-top: 0px;">4336148</h>
                    
       
    </div>
  
    <h1 class='secondheader' style="font-size: 45px; padding-top: 20px; width: 900px; padding-left: 0px;">Year wise suicide count (2001 - 2012)</h1>

     <div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Year</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2001</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2002</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2003</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2004</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2005</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2006</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2007</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2008</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2009</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2010</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2011</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2012</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">325428</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">331146</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">332516</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">340955</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">341717</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">354319</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">367845</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">374980</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">381127</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">403728</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">405989</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">376398</td>
  </tr>
 
  
  
</table></div>
   
   <div ></div>

    <div style="display: flex; padding-top: 50px; ">
    <div style="padding-left: 75px; ">
    <img src = "static/year1.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    <div style="padding-left: 75px; ">
    <img src = "static/year2.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    </div>

    
    <h1 class='secondheader' style="font-size: 45px; padding-top: 20px; width: 900px; padding-left: 0px;">State wise suicide count (2001 - 2012)</h1>

     <div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">State</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">A & N ISLANDS</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">ANDHRA PRADESH</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">ARUNACHAL PRADESH</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">ASSAM</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">BIHAR</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">CHANDIGARH</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">CHHATTISGARH</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">8109</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">814059</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">6633</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">172276</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">46214</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">5164</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">302354</td>
  </tr>
 
  
  
</table></div>

<div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">State</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">D & N HAVELI</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">DAMAN & DIU</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">DELHI (UT)</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">GOA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">GUJARAT</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">HARYANA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">HIMACHAL PRADESH</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">3430</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">1391</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">84272</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">17363</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">330858</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">147176</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">26562</td>
  </tr>
 
  
  
</table></div>

<div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">State</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">JAMMU & KASHMIR</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">JHARKHAND</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">KARNATAKA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">KERALA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">LAKSHADWEEP</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">MADHYA PRADESH</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">MAHARASHTRA</td>
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">14821</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">49720</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">734825</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">538946</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">50</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">451535</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">901945</td>
  </tr>
 
  
  
</table></div>

<div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">State</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">MANIPUR</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">MEGHALAYA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">MIZORAM</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">NAGALAND</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">ODISHA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">PUDUCHERRY</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">PUNJAB</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Suicide Count</th> 
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">2102</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">5415</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">4154</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">1728</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">267234</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">32144</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">46350</td>
  </tr>
 
  
  
</table></div>

<div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">State</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">RAJASTHAN</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">SIKKIM</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">TAMIL NADU</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">TRIPURA</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">UTTAR PRADESH</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">UTTARAKHAND</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">WEST BENGAL</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">255134</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">9606</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">818691</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">45965</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">233352</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">18496</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">849936</td>
  </tr>
 
  
  
</table></div>

   
   <div></div>

    <div style="display: flex; padding-top: 50px;">
    <div style="padding-left: 75px; ">
    <img src = "static/state1.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    <div style="padding-left: 75px; ">
    <img src = "static/state2.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    </div>

    <h1 class='secondheader' style="font-size: 45px; padding-top: 20px; width: 900px; padding-left: 30px;">Gender wise suicide count (2001 - 2012)</h1>

     <div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Year</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2001</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2002</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2003</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2004</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2005</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2006</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2007</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2008</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2009</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2010</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2011</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2012</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Male Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">198935</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">207981</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">210639</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">217934</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">218725</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">227102</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">237865</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">241616</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">244157</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">261537</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">262777</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">247984</td>
  </tr>

  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Female Suicide Count</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">126493</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">123165</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">121877</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">123021</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">122992</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">127217</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">129980</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">133364</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">136970</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">142191</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">143212</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">128414</td>
  </tr>
 
  
  
</table></div>
   
   <div></div>

    <div style="display: flex; padding-top: 50px;">
    <div style="padding-left: 75px; ">
    <img src = "static/gender1.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    <div style="padding-left: 75px; ">
    <img src = "static/gender2.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    </div>

    <h1 class='secondheader' style="font-size: 45px; padding-top: 20px; width: 900px; padding-left: 50px;">Age group wise suicide count (2001 - 2012)</h1>
    <div style=" padding-top: 20px; padding-left: 50px;"> 
    <table style="width:1400px" border="1">
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">Year</th>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2001</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2002</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2003</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2004</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2005</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2006</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2007</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2008</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2009</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2010</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2011</td>
    <td style="color: red; font-size: 20px;font-weight: bold;text-align: center;">2012</td>
    
 
  </tr>
  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">0-14</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">9010</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">8632</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">7728</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">8733</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">7665</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">7389</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">7410</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">7143</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">8851</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">9390</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">9096</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">7363</td>
  </tr>

  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">15-29</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">116655</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">117864</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">119483</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">120407</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">120701</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">126640</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">129477</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">133955</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">131745</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">142867</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">144037</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">130206</td>
  </tr>

  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">30-44</th> 
  <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">109344</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">112529</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">111042</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">114872</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">114548</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">122097</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">125475</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">130676</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">130452</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">134534</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">138640</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">127390</td>
  </tr>

  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">45-59</th> 
    <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">64737</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">65482</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">66991</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">69400</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">70874</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">70815</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">76699</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">75574</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">79808</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">83618</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">81876</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">79303</td>
  </tr>

  <tr>
    <th style="color: red; font-size: 20px;font-weight: bold;text-align: center;">60+</th> 
  <td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">25682</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">26639</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">27272</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">27543</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">27929</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">27378</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">28784</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">27632</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">30271</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">33319</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">32340</td>
<td style="color: white; font-size: 20px;font-weight: bold;text-align: center;">32136</td>
  </tr>
 
  
  
</table></div>
   
   <div></div>

    <div style="display: flex; padding-top: 50px;">
    <div style="padding-left: 75px; ">
    <img src = "static/age1.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    <div style="padding-left: 75px; ">
    <img src = "static/age2.jpg"
      alt = "Learn HTML5" height = "400" width = "650" />
      </div>
    </div>
   
      

    
   <br> <br> <br> <br> <br>

                </div>
            </div>
        
        </section>



</body>

</html>
